body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;

}

h1 {
    font-size: 80px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;

}

.navbar {
    border-bottom: 5px solid purple; 
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navbar__logo {
max-width: 90px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

.navbar__nav{

}

.navbar__list{
display: flex;
align-items: center;
height: 100%;
list-style: none;
margin: 0;
padding: 0;
}

.navbar__item{
margin-right: 20px;
margin-left: 20px;
}

.navbar__link{
text-decoration: none;
color: white;
font-size: 20px;
font-weight: bold;
}

.description {
    font-size: 18px;
    margin: 0;
    text-align: center;

}

.content{
    max-width: 1200px;
    margin:auto;
    margin-top: 50px;
    padding: 10px;
}